table {
    border-collapse: collapse;
    width:45%;
    font-family: Arial;
}
table, td {
    border: 2px solid #808080;
    margin:2px;
    padding:5px;
}
thead {
    font-weight: bold;
    text-align:center;
}
tdoby {
    text-align: left;
}