p {
    font-family:Consolas, 'Times New Roman';
    color: #0094ff;
    font-size:24pt;
}
    p:first-line {
        font-weight:bold;
    }
    p:first-letter {
        font-family:'Edwardian Script ITC';
        font-size:44pt;
    }