body
	{
	background-color:#d0e4fe;
	color:#000000;
	}
ul
	{
	font-family:Arial,Helvetica,sans-serif;
	font-style:normal;
	font-size:14px;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	}
li
	{
	float:left;
	}
a
	{
	display:block;
	width:200px;
	}
hr
	{ 
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray;
	}
h1
	{
	font-family:Arial,Helvetica,sans-serif;
	font-style:italic;
	font-size:40px;
	margin:0px;
	}
p, dl
	{
	font-family:Arial,Helvetica,sans-serif;
	font-style:normal;
	font-size:14px;
	margin:7px;
	}
dt
	{
	font-family:Arial,Helvetica,sans-serif;
	font-style:italic;
	font-size:14px;
	margin:7px;
	}
.special
	{
	font-family:Arial,Helvetica,sans-serif;
	font-style:italic;
	font-size:14px;
	margin:4px;
	}
